<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link rel="stylesheet" href="css/main.css"> <!-- 실제 CSS 파일 경로로 수정 -->

    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css">
    </th:block>
    <script src="js/main.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="slider">
        <div class="slides">
            <!-- 원본 슬라이드 -->
            <div class="slide">
                <img src="img/benner/coffee.jpg" alt="Slide 1">
            </div>
            <div class="slide">
                <img src="img/benner/fomona_banila.jpg" alt="Slide 2">
            </div>
            <div class="slide">
                <img src="img/benner/ice_cup.jpg" alt="Slide 3">
            </div>
            <div class="slide">
                <img src="img/benner/icetea.jpg" alt="Slide 4">
            </div>
            <div class="slide">
                <img src="img/benner/monin.jpg" alt="Slide 5">
            </div>
            <div class="slide">
                <img src="img/benner/ripple_jem.jpg" alt="Slide 6">
            </div>
            <div class="slide">
                <img src="img/benner/shot.jpg" alt="Slide 7">
            </div>
        </div>
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
    </div>

    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + ' 검색결과'"></p>
    </div>
    <div class="container text-center">
        <div id="product-row" class="row row-cols-4">
            <th:block th:each="item, status: ${items.getContent()}">
                <div class="col">
                    <div class="card">
                        <a th:href="'/item/' + ${item.id}" class="text-dark">
                            <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="300">
                            <div class="card-body">
                                <h4 class="card-title">[[${item.itemNm}]]</h4>
                                <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                                <p class="card-text">[[${item.stockNumber}]]개</p>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <div class="sidebar">
        <h2>최근 본 상품</h2>
        <ul>

        </ul>
    </div>
</div>

<th:block layout:fragment="script">
</th:block>
</body>
</html>
